body {
    background-color: rgb(243, 243, 243);
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .image {
    width: 370px;
    margin-top: 25px;
    align-items: center;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }