body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}
 Link{
   text-decoration: none;
 }

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 41%;
  margin-bottom: 30px;
  margin-top: 30px;
}


@media only screen and (max-width: 770px) {
  .image {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}