
body {
    background-color: rgb(243, 243, 243);
    line-height: 150%;
  }

  .image {
    width: 60%;
    height: 10%;
    margin-top: 25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 25px;
    justify-content: center;
    text-align: center;

    align-self: center;
  }

  @media only screen and (max-width: 770px) {
    .image {
      width: 90%;
      height: 50%;
      margin-left: 5%;
    margin-right: 5%;
    }
  }