/* INFORMATION */
.box {
    float: left;
    margin-top: 3rem;
    font-family: "Courier New", Courier, monospace;
}

.left {
    width: 45%;
    margin-left: 2rem;
    border: 2px solid rgb(116, 208, 231);
    word-wrap: break-word;
    text-align: center;
}
.left .information{
    position: relative;
    width: 90%;
    margin: auto;
    padding: 0.5%;
    word-wrap: break-word;
}
.left .links{
    position: relative;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(116, 208, 231);
    margin-left: 10%;
    margin-bottom: 20px;
    margin-right: 10%;
    color: rgb(0, 0, 0);

}
.left .links .link {
    color:#0c0c0c;
    text-decoration: none;
}
.left .links .link:hover {
    color: aliceblue;
}
.left .links:hover {
    opacity: 1;
    background-color: rgb(72, 94, 121);
    color: aliceblue;
}

.right {
    width: 45%;
    margin-left: 2rem;
    border: 2px solid rgb(137, 233, 225);
    word-wrap: break-word;
}
.right .information{
    position: relative;
    width: 100%;
    padding: 10px;
    word-wrap: break-word;
    background: rgb(240, 241, 240);
}
.right .links{
    position: relative;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    margin-right: 10%;
    background: rgb(137, 233, 225);
    color: rgb(0, 0, 0);
}
.right .links i {
    margin-left: 5%;
}
.right .links .link {
    margin-left: 7%;
    color:#0c0c0c;
    text-decoration: none;
}
.right .links .linkS {
    margin-left: 9%;
    color:#0c0c0c;
    text-decoration: none;
}
.right .links .link:hover {
    color: aliceblue;
}
.right .links:hover {
    opacity: 1;
    background-color: rgb(24, 90, 83);
    color: aliceblue;
    transform: scale(1.05);
    transition: all .1s ease-in-out;
    border-radius: 25px;
}

/* PROTECT */
.protect h1{
    text-align: center;
}
.protect .warn{
    background-color: khaki;
    padding: 5px;
    width: 90%;
    text-align: center;
    margin: auto;
}
.protect .warn i {
    color: red;
}
.protect .inform{
    float: left;
    margin: auto;
    margin-top: 30px;
    margin-left: 30px;

}
.protect .inform h2{
    color: rgb(4, 4, 77);
    text-align: center;
}
.protect .left{
    width: 40%;
    padding: 10px;
    margin-left: 3rem;
    border: 1px solid rgb(255, 255, 255);
    word-wrap: break-word;
    text-align: left;
}
.protect .right{
    width: 40%;
    padding: 10px;
    margin-left: 3rem;
    border: 1px solid rgb(255, 255, 255);
    word-wrap: break-word;
}
/*Sick*/
.protect .cardLevel{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(240, 239, 239);
	border-radius: 4px;
	max-width: 50%;
	height: 10%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
	color: #444;
    cursor: pointer;
    position: relative;
    margin: auto;
    margin-top: 2%;
}
.protect .cardLevel a{
    color: #000;
    text-decoration: none;
}
.protect .cardLevel:hover {
    box-shadow: 12px 12px 2px 1px rgba(1, 1, 43, 0.2);
}

.protect .lev4{
    max-width: 70%;
    font-family: "Lucida Console", Monaco, monospace;
    background-color: rgb(213, 231, 241);
    border-radius: 4px;
	height: 10%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    margin: auto;
    box-shadow: 5px 10px 8px 10px #888888;
}

/*Symptoms*/
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 30px;
    margin-top: 30px;
  }


@media screen and (max-width: 800px) {
    .box {
        width: 100%;
        word-wrap: break-word;
    }
    .left{
        margin: auto;
    }
    .left .links{
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .right{
        margin: auto;
        margin-top: 30px;;
    }
    .right .links{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .protect h1{
        font-size: 2em ;  
        font-weight: bold;
    }
    .protect .warn{
        background-color: khaki;
        padding: 1px;
    }
    .protect .inform h2{
        font-size: 1.8em ;  
        text-align: left;      
    }
    .protect .inform{
        width: 90%;
        word-wrap: break-word;       
    }
    .protect .left{
        margin: auto;
    }
    .protect .right{
        margin: auto;        
    }
    .protect .cardLevel{
        max-width: 70%;
        background-color: rgb(241, 236, 236);
    }
}


