.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(88, 88, 88);
  color: white;
  text-decoration: none;
}
.navbar li  {
  float: left;
  padding:10px 16px;
  text-decoration: none;
  font-size: x-large;
  font-weight: 900;
}
.navbar ul li{
  color: white !important;
  text-decoration: none;
}
.navbar li Link {
  text-align: center;
  text-decoration: none;
}
.navbar li .lV{
  text-decoration:none;
  color: white !important;
}
.navbar li .lV:visited{
  text-decoration:none;
  color: white !important;
}

.navbar li:hover:not(.active) {
  background-color: rgb(159, 160, 160);
  text-decoration: none;
}
.navbar .aR{
  float:right;
}
.navbar .fa-viruses {
  color: red;
  font-size: 1.5em;
}
.informationLogo .fa-info-circle {
  color: rgb(7, 85, 255);
  font-size: 1.5em;
}
.tooltip .fa-map-marked {
  color: rgb(7, 158, 40);
  font-size: 1.5em;
}



/*.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(139, 136, 136);
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
*/
@media only screen and (max-width: 770px) {
  .navbar ul {
    width: 100%;
  }
  .navbar li  {
    float: left;
    padding:5px 5px;
    text-decoration: none;
    font-size: medium;
    font-weight: 300;
  }
}